@import "../Vars.scss";
@import "../BreakPoints.scss";

.header {
  width: 100%;
  
  img {
    width: 100%;
    background-color: $primaryColor;
    @include media(desktop-m-2) {
      height: 150px;
    }

    @include media(desktop-m-3) {
      height: 150px;
    }
  }
}
