@import "../Vars.scss";
@import "../BreakPoints.scss";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size) 1.5;
}

.card__container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: white;
  font-family: $mainFontFamily;
  -webkit-box-shadow: 0px 15px 34px -20px $primaryColor;
  -moz-box-shadow: 0px 15px 34px -20px $primaryColor;
  box-shadow: 0px 15px 34px -20px $primaryColor;

  &:hover {
    border-left: 6px solid $primaryColor;
    padding-left: 44px;
  }

  @include media(desktop-m-2) {
    display: block;
  }
  @include media(desktop-m-3) {
    display: block;
    padding: 20px 30px;
  }
}

.card__container__jobInformation {
  display: flex;
  align-items: center;

  @include media(desktop-m-3) {
    display: block;
  }

  figure {
    margin: 0 20px 0 0;
    height: fit-content;
    @include media(desktop-m-3) {
      margin: -50px 0 20px 0;
    }
    img {
      @include media(desktop-m-3) {
        max-width: 100%;
       
      }
      
    }
  }
}

.card__jobInformation {
  display: flex;
  flex-direction: column;
}

.card__jobInformation-top-elements {
  color: white;
  text-transform: uppercase;
  padding: 8px 15px 6px;
  border-radius: 20px;
  @include font-size(10px);
  line-height: normal;
}

.card__jobInformation-top {
  display: flex;
  align-items: center;

  p {
    margin: 0 10px 0 0;
  }

  .card__jobInformation-company {
    color: $primaryColor;
   
  }

  .card__jobInformation-new {
    background-color: $primaryColor;
    @extend .card__jobInformation-top-elements;
  }

  .card__jobInformation-featured {
    background-color: $color4;
    @extend .card__jobInformation-top-elements;
  }
}

h2 {
  @include font-size(18px);
  font-weight: 700;
  color: $color4;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 10px;
}

.card__jobInformation-bottom {
  display: flex;
  align-items: center;

  p {
    color: $color3;
    @include font-size(12px);
  }

  span {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 700;
    color: $color3;
  }
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include font-size(14px);

  @include media(desktop-m-2) {
    border-top: 1px solid $color3;
    padding-top: 15px;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @include media(desktop-m-3) {
    border-top: 1px solid $color3;
    padding-top: 15px;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
